*{
    margin:0;
    padding:0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
	background-color:#000;
}

.hidden{
    display:none;
}

#game {
	display:block;
	background: #000;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 480;
	height: 270;
	border: 4px solid white;
}